body {
  overflow: hidden !important;
  background: rgb(17 24 39) !important;
  user-select: none;
  width: 600px;
  margin: -0px; /* Space from this element (entire page) and others*/
  padding: 8px; /*space from content and border*/
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, red , yellow);
  border-image-slice: 1;
  box-sizing: border-box;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  color: #F9FAFB;
}

button {
  width: 115px !important;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size:14px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  margin-top:5px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
button:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
button svg {
	position: relative;
	top: 2px;
  float: right;
  transform: translateY(50%);
}

button span {
  pointer-events:none;
}

.redirect-row {
  position: relative;
  background:transparent;
  font-size:14px;
  padding:8px;
  line-height:18px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(45deg, red , yellow);
  border-image-slice: 1;
}
.redirect-row:last-child {
  border-bottom: none !important;
}

.redirect-info {
  display:table;
}

.redirect-info div {
  display:table-row;
}

.redirect-row label {
  display:inline-block;
  width:80px;
  font-weight:bold;
  text-align: right;
}

.redirect-info div label {
  display:table-cell;
  padding:3px 5px;
  white-space: nowrap;
}

.redirect-info div p {
  display:table-cell;
  word-wrap:break-word;
  max-width:700px;
}

.redirect-info.disabled label, .redirect-info.disabled span, span.disabled, .redirect-info.disabled p, a.disabled, button[disabled] {
  color:#ffb4b4 !important;
}